
.all {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.all a{
  color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}
  .container {
    
    margin: 0 auto;
    padding: 20px;
  }
  .all main.container{
    display:flex;
    flex-direction: column;
    margin-top:100px;
  }
  .all main.container{
    display:flex;
    flex-direction: column;
    margin-top:100px;
  }
  /* Header Styles */
 .all header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  
  
  .navigation  {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: 20px;
  }
.navigation li{
  text-wrap:nowrap;
}


  .navigation li:last-child {
    margin-right: 0;
  }
  
  .navigation li {
    color: #ffffff;
    text-decoration: underline;
  }
  
  /* Main Content Styles */
 
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .employee-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  }
  
  
  .employee-list{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    padding: 1px;
    justify-content: center; 
    gap: 20px;
    overflow-x: auto;
  }
  
  .employee-info {
    flex: 1;
  }
  

  /* Footer Styles */

 .all footer  {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
  }
  i{
    opacity: 50%;
    font-size: smaller;
  }
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .employee-list .employee-card:first-child {
      margin-left: 150px;
    }
    .all main.container{
      margin-top:200px;
    }
   .all header {
    
      text-align: center;
    }
    .section-title {
      
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
    }
    .navigation {
      display: block;
      text-align: center;
      margin-bottom: 5px;
    }
    .navigation li {
      display: block;
      margin-bottom: 5px;
    }
    footer{
     margin-bottom:0px;
    }
  }
  