
.all {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header Styles */
 .all header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  
  
  .navigation  {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-right: 20px;
  }
.navigation li{
  text-wrap:nowrap;
}

.all main.container{
  margin-top:200px;
}
  .navigation li:last-child {
    margin-right: 0;
  }
  
  .navigation li {
    color: #ffffff;
    text-decoration: underline;
  }
  
  /* Main Content Styles */
 .all main {
    padding: 20px;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .employee-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  }
  
  .employee-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .employee-list{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    padding: 1px;
    justify-content: center; 
    gap: 20px;
    overflow-x: auto;
  }
  
  .employee-info {
    flex: 1;
  }
  
  /* Sidebar Styles */
  .sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
  }
  
  .sidebar h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  /* Footer Styles */
 .all footer  {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    position: absolute;
    bottom:0;
    width: 100%;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
   .all header {
      text-align: center;
    }
    .navigation {
      display: block;
      text-align: center;
    }
    .navigation li {
      display: block;
      margin-bottom: 10px;
    }
  }
  