.homepage-div {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url('../img/shop.jpg');
    backdrop-filter: blur(40px);
    background-size: cover;
    color:white;
}


header {
    width:100%;
    top:0;
    position:absolute;
    background-image:linear-gradient(to right, blue,brown);
    color: #fff;
    padding: 20px;
}

.homepage-div nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage-div h1 {
    margin: 0;
}

.homepage-div ul {
    list-style: none;
    display: flex;
}

.homepage-div li {
    margin-left: 20px;
}

.homepage-div a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}

.homepage-div a:hover {
    background-color: #555;
}


@media screen and (max-width: 600px)  {
    .homepage-div ul {
        display:flex;
        
        align-items: center;
        width:100%;
        flex-direction:column;
        color:brown;
        
    }
    .homepage-div header{
        margin-bottom: 80px;
    }

    .homepage-div h1 {
        padding-left:15px;
        margin-top: 5px;
    }
}
