.login-page{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin:10px;
}

.login-div {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
  }
.toggle a{
  text-decoration: underline;
  color:blue;
  cursor:pointer;
}


.cus-img{
  background-image: url('../img/cart.jpg');
  background-size: cover;
  height:50vh;
  width:50vw;
}
.staff-img{
  background-image: url('../img/staff.jpg');
  background-size: cover;
  height:50vh;
  width:50vw;
}


  
  .login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }

  .login-err{
    color:red;
  }

  
  /* Styles for screens smaller than 768px */
@media (max-width: 768px) {
  .login-page {
    flex-direction: column; 
    align-items: center;
  }

  .cus-img,
  .staff-img {
    height: 50vh; 
    width: 80vw; 
    margin-bottom: 0px;
  }
}


@media (min-width: 1024px) {
  .login-page {
    justify-content: space-evenly; 
  }

  .cus-img,
  .staff-img {
    height: 40vh; 
    width: 40vw; 
  }
}