

.body .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .body .heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  
  