.dual-spinner {
	position: relative;
	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		border-radius: 50%;
		border: .5em solid transparent;
		border-bottom-color:brown ;
		top: 0;
		left: 0;
		animation: 1s dual-spinner linear infinite;
	}
	&:before {
		width: 10em;
		height: 10em;
	}
	&:after {
		width: 10em;
		height: 10em;
		top: 1em;
		left: .1em;
		animation-direction: reverse;
	}
}

@keyframes dual-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
