.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 50px;
  }
  
  .spinner {
    width: 80px;
    height: 80px;
    border: 14px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top: 14px solid #3498db;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  