
.body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.body h1{
  margin: 0;
}
.body li:hover{
 background-color: white;
 border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  padding: 1px;
  justify-content: center; 
  gap: 20px;
  overflow-x: auto;
  margin-bottom: 100px;
}



.navigation {
  display:flex;
  flex-direction: row;
  align-content: flex-end;
  padding: 0;
  margin: 0;
 
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 0;
}





.item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 130px;
  padding-bottom: 100px;
  overflow-y: auto;
}

.product {
  border: 1px solid #c23636;
  border-radius: 5px;
  padding: 10px;
}

.product_img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product h3 {
  margin-top: 0;
}

.product button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
}





.body footer {
  position:fixed;
  width:100%;
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  bottom:0;
  padding: 10px 0;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .body header {
    display:flex;
    flex-direction: column;
    text-align: center;
  }
  .navigation ul {
    color:#ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .navigation ul li Link {
    color:white;
    
  }
}
